h1 {
width:300px;
border:2px solid #556B2F;
border-radius:20px;
box-shadow:2px 2px 2px 2px black;
background-color:#008B8B;
padding-left:20px;
	color:#2F4F4F}	
.a{
width:300px;
border:2px solid #F08080;
border-radius:20px;
box-shadow:2px 2px 2px 2px black;
background-color:#CD5C5C;
padding-left:20px;
	color:#800000}		

#b{
border:2px solid black;
border-radius:20px;
box-shadow:2px 2px 2px 2px black;
background-color:black ;
padding-left:20px;
	color:red}	
#ll{
width:135;
border:2px solid black;
padding:2px 2px 2px 12px;
	background-color:white;
	color:red;
}
p{
	font-size:20px;	
}

div{
	width:100%;
	height:20px;
	background-color:#8B0000;
}

h2{
	
	
	
	width:135;
border:2px solid black;
padding:2px 2px 2px 40px;
	background-color:white;
	color:red;
	
	
}

h4{
	font-size:30px
}
h3{
	
	
	
	width:300;
border:2px solid black;
padding:2px 2px 2px 20px;
	background-color:white;
	color:red;
	
	
}

img{
	
	border:2px solid #556B2F;
border-radius:20px;
box-shadow:2px 2px 2px 2px black;
}

a{
	font-size:25px;
	color:red;	
}
a:hover{
	font-size:35;
	color:green;
}









